<nav id="navbar">
    <ul>
        <li><a href="{{ path('index') }}">Home</a></li>
        <li><a href="{{ path('about') }}">About</a></li>
        {{ component('dropdown', {
            hasHash: true,
            head: 'report',
            items: ['kmom01', 'kmom02', 'kmom03', 'kmom04', 'kmom05', 'kmom06', 'kmom10'],
        }) }}
        {{ component('dropdown', {
            head: 'work',
            items: ['lucky', 'pig_index', 'card_index'],
        }) }}
        {{ component('dropdown', {
            head: 'api',
            items: ['quote', 'json_card_index'],
        }) }}
    </ul>
</nav>
