<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}Proj{% endblock %}</title>
        <script src="https://kit.fontawesome.com/2897e71327.js" crossorigin="anonymous"></script>

        {% block stylesheets %}
            {{ encore_entry_link_tags('proj') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('proj') }}
        {% endblock %}
    </head>
    <body>
        <main role="main">
            {% block body %}{% endblock %}
        </main>
        <nav>
            <a class="desktop-button" href="{{path('proj_api')}}">
                <span class="icon-folder icon-lg icon-shadow"></span>
                <p>JSON_API</p>
            </a>
            <a class="desktop-button" href="{{path('proj_about')}}">
                <span class="icon-folder icon-lg icon-shadow"></span>
                <p>About</p>
            </a>
            <a class="desktop-button" href="{{path('setup_game')}}">
                <span class="icon-disc icon-lg icon-shadow"></span>
                <p>Adventure Game</p>
            </a>
        </nav>
    </body>
</html>
