{% extends "base.html.twig" %}

{% block title %}Json Books{% endblock %}

{% block body %}
    <div class="content-header">
        <span class="text-accent gradient">JSON API</span>
        <h1 class="title">Library</h1>
        <a href="{{ path('json_books') }}"
            class="btn round">
            Show All Books
            <i class="fa-solid fa-arrow-right"></i>
        </a>
    </div>
    <article>
        <div class="flex flex-row gap-lg even-items wrap">
        {% for book in books %}
            <div class="flex flex-col space-between">
                <img src="{{ book.imageUrl }}" class="thumb">
                <a href="{{ path('json_book', { isbn: book.isbn }) }}"
                    class="underline weight-bold">
                    {{ book.title }}
                </a>
                <p class="weight-light text-on-variant">{{ book.author }}</p>
            </div>
        {% endfor %} 
        </div>
    </article>
    
{% endblock %}
