<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        <script src="https://kit.fontawesome.com/2897e71327.js" crossorigin="anonymous"></script>

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <header>
            {{ include('./partials/_navbar.html.twig') }}
        </header>
        <main role="main">
            {{ include('./partials/_flash.html.twig') }} {# read and display all flash messages #}
            {% block body %}{% endblock %}
        </main>
        <footer>
            <div class="footer">
                <ul>
                    <li>&copy; 2023 Alex Lindqvist</li>|
                    <li><a href="{{ my_github }}" target="_blank" class="icon"><i class="fa-brands fa-github"></i></a></li>
                </ul>
            </div>
        </footer>
    </body>
</html>
