{% extends "base.html.twig" %}

{% block title %}Report{% endblock %}

{% block body %}
<div class="content-header">
    <h1 class="title">Come with me on my <span class="highlight">journal.</span></h1>
    <ul>
        <li><a href="#kmom01">kmom01</a></li>
        <li><a href="#kmom02">kmom02</a></li>
        <li><a href="#kmom03">kmom03</a></li>
        <li><a href="#kmom04">kmom04</a></li>
        <li><a href="#kmom05">kmom05</a></li>
        <li><a href="#kmom06">kmom06</a></li>
        <li><a href="#kmom10">kmom10</a></li>
    </ul>
</div>

<article class="blog">

    <section id="kmom01">
        {{ '../report/kmom01.md'|parseMarkdownFile }}
    </section>

    <section id="kmom02">
        {{ '../report/kmom02.md'|parseMarkdownFile }}
    </section>

    <section id="kmom03">
        {{ '../report/kmom03.md'|parseMarkdownFile }}
    </section>

    <section id="kmom04">
        {{ '../report/kmom04.md'|parseMarkdownFile }}
    </section>

    <section id="kmom05">
        {{ '../report/kmom05.md'|parseMarkdownFile }}
    </section>

    <section id="kmom06">
        {{ '../report/kmom06.md'|parseMarkdownFile }}
    </section>

    <section id="kmom10">
        {{ '../report/kmom10.md'|parseMarkdownFile }}
    </section>
</article>
{% endblock %}
