<div class="dropdown">
    <a href="{{ path(routeAlias) }}">{{ name }}</a>
    <div class="dropdown-content">
        {% if hasHash %}
            {% for hash, subName in this.items %}
                <a href="{{ path(routeAlias) ~ '#' ~ hash }}">{{ subName }}</a>
            {% endfor %}
        {% else %}
            {% for subRouteAlias, subName in this.items %}
                <a href="{{ path(subRouteAlias) }}">{{ subName }}</a>
            {% endfor %}
        {% endif %}
    </div>
</div>
