{% extends "base.html.twig" %}

{% block title %}Delete Book{% endblock %}

{% block body %}
    <form>
        <a href="{{ path('library_read_many') }}" class="btn round">
            <i class="fa-solid fa-arrow-left"></i>
            Show All Books
        </a>
        <fieldset class="flex flex-col gap-sm">
            <label class="text-on-prime">Title</label>
            <input type="text" readonly value="{{ book.title }}">
            <label class="text-on-prime">ISBN</label>
            <input type="text" readonly value="{{ book.isbn }}">
            <label class="text-on-prime">Description</label>
            <textarea readonly rows="4">{{ book.description }}</textarea>
            <label class="text-on-prime">Author</label>
            <input type="text" readonly value="{{ book.author }}">
            <label class="text-on-prime">Image URL</label>
            <input type="text" readonly value="{{ book.imageUrl }}">
        </fieldset>
        <fieldset>
            <div class="flex gap-mid">
                <button class="btn btn-danger fill icon-xmark"
                        type="submit"
                        formmethod="post"
                        formaction="{{ path('library_delete_post', { id: book.id }) }}">
                        Delete
                </button>
                <a class="btn"
                    href="{{ path('library_read_one', { id: book.id }) }}">
                    Cancel
                </a>
            </div>
        </fieldset>
    </form>

{% endblock %}
